<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss-factory-hit-point-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{492,476}</string>
                <key>spriteSourceSize</key>
                <string>{492,476}</string>
                <key>textureRect</key>
                <string>{{1418,937},{492,476}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss-factory-hit-point-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,256}</string>
                <key>spriteSourceSize</key>
                <string>{138,256}</string>
                <key>textureRect</key>
                <string>{{255,1877},{138,256}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>boss-factory-hit-point-bg-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,293}</string>
                <key>spriteSourceSize</key>
                <string>{270,293}</string>
                <key>textureRect</key>
                <string>{{1144,449},{270,293}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>boss-factory-hit-point-bg-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,176}</string>
                <key>spriteSourceSize</key>
                <string>{176,176}</string>
                <key>textureRect</key>
                <string>{{517,1865},{176,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss-helicopter-fan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{268,268}</string>
                <key>spriteSourceSize</key>
                <string>{268,268}</string>
                <key>textureRect</key>
                <string>{{1144,725},{268,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss-helicopter-hit-point.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-11}</string>
                <key>spriteSize</key>
                <string>{330,534}</string>
                <key>spriteSourceSize</key>
                <string>{330,556}</string>
                <key>textureRect</key>
                <string>{{1443,601},{330,534}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>boss-marine-anim-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{629,317}</string>
                <key>spriteSourceSize</key>
                <string>{633,321}</string>
                <key>textureRect</key>
                <string>{{3,1242},{629,317}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>boss-marine-anim-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{614,278}</string>
                <key>spriteSourceSize</key>
                <string>{618,282}</string>
                <key>textureRect</key>
                <string>{{329,601},{614,278}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>boss-marine-anim-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{635,320}</string>
                <key>spriteSourceSize</key>
                <string>{639,324}</string>
                <key>textureRect</key>
                <string>{{3,601},{635,320}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>boss-marine-anim-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,-1}</string>
                <key>spriteSize</key>
                <string>{551,314}</string>
                <key>spriteSourceSize</key>
                <string>{615,318}</string>
                <key>textureRect</key>
                <string>{{1455,3},{551,314}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss-marine-anim-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{617,284}</string>
                <key>spriteSourceSize</key>
                <string>{621,288}</string>
                <key>textureRect</key>
                <string>{{326,1242},{617,284}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>boss-marine-area-rocket.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,256}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1144,999},{256,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss-marine-back-ground.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{544,272}</string>
                <key>spriteSourceSize</key>
                <string>{544,272}</string>
                <key>textureRect</key>
                <string>{{1455,323},{544,272}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss-marine-hit-point.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,132}</string>
                <key>spriteSourceSize</key>
                <string>{84,132}</string>
                <key>textureRect</key>
                <string>{{999,449},{84,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>boss-tank-back-ground-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{326,250}</string>
                <key>spriteSourceSize</key>
                <string>{326,250}</string>
                <key>textureRect</key>
                <string>{{3,340},{326,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss-tank-back-ground-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{326,250}</string>
                <key>spriteSourceSize</key>
                <string>{326,250}</string>
                <key>textureRect</key>
                <string>{{335,340},{326,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss-tank-back-ground-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{326,250}</string>
                <key>spriteSourceSize</key>
                <string>{326,250}</string>
                <key>textureRect</key>
                <string>{{667,340},{326,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss-tank-hit-point.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,340}</string>
                <key>spriteSourceSize</key>
                <string>{230,340}</string>
                <key>textureRect</key>
                <string>{{616,1472},{230,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss-train-back-ground.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1446,331}</string>
                <key>spriteSourceSize</key>
                <string>{1446,331}</string>
                <key>textureRect</key>
                <string>{{3,3},{1446,331}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss-train-hit-point.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,246}</string>
                <key>spriteSourceSize</key>
                <string>{164,246}</string>
                <key>textureRect</key>
                <string>{{3,1877},{164,246}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>boss-train-railway.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,322}</string>
                <key>spriteSourceSize</key>
                <string>{84,322}</string>
                <key>textureRect</key>
                <string>{{616,1352},{84,322}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hit-point-explode-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{83,83}</string>
                <key>spriteSourceSize</key>
                <string>{83,85}</string>
                <key>textureRect</key>
                <string>{{705,1261},{83,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit-point-explode-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{83,83}</string>
                <key>spriteSourceSize</key>
                <string>{83,85}</string>
                <key>textureRect</key>
                <string>{{794,1261},{83,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit-point-explode-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,85}</string>
                <key>spriteSourceSize</key>
                <string>{83,85}</string>
                <key>textureRect</key>
                <string>{{616,1261},{83,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>review-boss-factory.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,130}</string>
                <key>spriteSourceSize</key>
                <string>{123,130}</string>
                <key>textureRect</key>
                <string>{{1916,937},{123,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>review-boss-helicopter.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,120}</string>
                <key>spriteSourceSize</key>
                <string>{193,120}</string>
                <key>textureRect</key>
                <string>{{1916,1273},{193,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>review-boss-marine.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{227,113}</string>
                <key>spriteSourceSize</key>
                <string>{227,113}</string>
                <key>textureRect</key>
                <string>{{699,1818},{227,113}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>review-boss-tank.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,120}</string>
                <key>spriteSourceSize</key>
                <string>{194,120}</string>
                <key>textureRect</key>
                <string>{{1916,1073},{194,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>review-boss-train.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{450,103}</string>
                <key>spriteSourceSize</key>
                <string>{450,103}</string>
                <key>textureRect</key>
                <string>{{999,340},{450,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tank-boom-boss-factory-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{54,62}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{999,539},{54,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tank-boom-boss-factory-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{54,62}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{1067,539},{54,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>warning-level-boss.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{525,600}</string>
                <key>spriteSourceSize</key>
                <string>{525,600}</string>
                <key>textureRect</key>
                <string>{{613,601},{525,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>boss-sheet.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c7826db5ab96bbed45afedde5420f8f2:f4bbc84bb63f4b2b07670424cbc99605:7b5602c3ba272b41f2db745b9c602d71$</string>
            <key>textureFileName</key>
            <string>boss-sheet.pvr.ccz</string>
        </dict>
    </dict>
</plist>
