<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss-marine-rocket-end-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,162}</string>
                <key>spriteSize</key>
                <string>{221,258}</string>
                <key>spriteSourceSize</key>
                <string>{309,582}</string>
                <key>textureRect</key>
                <string>{{626,3},{221,258}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>boss-marine-rocket-end-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-152}</string>
                <key>spriteSize</key>
                <string>{201,172}</string>
                <key>spriteSourceSize</key>
                <string>{309,582}</string>
                <key>textureRect</key>
                <string>{{307,397},{201,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss-marine-rocket-end-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-148}</string>
                <key>spriteSize</key>
                <string>{225,214}</string>
                <key>spriteSourceSize</key>
                <string>{309,582}</string>
                <key>textureRect</key>
                <string>{{3,295},{225,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss-marine-rocket-end-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-152}</string>
                <key>spriteSize</key>
                <string>{195,172}</string>
                <key>spriteSourceSize</key>
                <string>{309,582}</string>
                <key>textureRect</key>
                <string>{{623,407},{195,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss-marine-rocket-end-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-148}</string>
                <key>spriteSize</key>
                <string>{153,154}</string>
                <key>spriteSourceSize</key>
                <string>{309,582}</string>
                <key>textureRect</key>
                <string>{{610,585},{153,154}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>boss-marine-rocket-end-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{119,174}</string>
                <key>spriteSourceSize</key>
                <string>{309,582}</string>
                <key>textureRect</key>
                <string>{{824,561},{119,174}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>boss-marine-rocket-end-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-87}</string>
                <key>spriteSize</key>
                <string>{67,132}</string>
                <key>spriteSourceSize</key>
                <string>{309,582}</string>
                <key>textureRect</key>
                <string>{{234,295},{67,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss-marine-rocket-end-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-150}</string>
                <key>spriteSize</key>
                <string>{115,124}</string>
                <key>spriteSourceSize</key>
                <string>{309,582}</string>
                <key>textureRect</key>
                <string>{{890,150},{115,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>boss-marine-rocket-end-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-149}</string>
                <key>spriteSize</key>
                <string>{171,240}</string>
                <key>spriteSourceSize</key>
                <string>{309,582}</string>
                <key>textureRect</key>
                <string>{{626,230},{171,240}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>boss-marine-rocket-end-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-140}</string>
                <key>spriteSize</key>
                <string>{273,302}</string>
                <key>spriteSourceSize</key>
                <string>{309,582}</string>
                <key>textureRect</key>
                <string>{{318,3},{273,302}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>boss-marine-rocket-end-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-140}</string>
                <key>spriteSize</key>
                <string>{309,286}</string>
                <key>spriteSourceSize</key>
                <string>{309,582}</string>
                <key>textureRect</key>
                <string>{{3,3},{309,286}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss-marine-rocket-end-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-149}</string>
                <key>spriteSize</key>
                <string>{141,124}</string>
                <key>spriteSourceSize</key>
                <string>{309,582}</string>
                <key>textureRect</key>
                <string>{{890,3},{141,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>boss-marine-rocket-end-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-151}</string>
                <key>spriteSize</key>
                <string>{165,148}</string>
                <key>spriteSourceSize</key>
                <string>{309,582}</string>
                <key>textureRect</key>
                <string>{{872,271},{165,148}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>boss-marine-rocket-go-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-74}</string>
                <key>spriteSize</key>
                <string>{87,84}</string>
                <key>spriteSourceSize</key>
                <string>{137,252}</string>
                <key>textureRect</key>
                <string>{{916,686},{87,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss-marine-rocket-go-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-72}</string>
                <key>spriteSize</key>
                <string>{83,86}</string>
                <key>spriteSourceSize</key>
                <string>{137,252}</string>
                <key>textureRect</key>
                <string>{{916,776},{83,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>boss-marine-rocket-go-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-73}</string>
                <key>spriteSize</key>
                <string>{79,84}</string>
                <key>spriteSourceSize</key>
                <string>{137,252}</string>
                <key>textureRect</key>
                <string>{{3,865},{79,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss-marine-rocket-go-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-74}</string>
                <key>spriteSize</key>
                <string>{87,84}</string>
                <key>spriteSourceSize</key>
                <string>{137,252}</string>
                <key>textureRect</key>
                <string>{{916,686},{87,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss-marine-rocket-go-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-73}</string>
                <key>spriteSize</key>
                <string>{79,84}</string>
                <key>spriteSourceSize</key>
                <string>{137,252}</string>
                <key>textureRect</key>
                <string>{{3,865},{79,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss-marine-rocket-go-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-74}</string>
                <key>spriteSize</key>
                <string>{83,82}</string>
                <key>spriteSourceSize</key>
                <string>{137,252}</string>
                <key>textureRect</key>
                <string>{{3,744},{83,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>boss-marine-rocket-go-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-74}</string>
                <key>spriteSize</key>
                <string>{83,82}</string>
                <key>spriteSourceSize</key>
                <string>{137,252}</string>
                <key>textureRect</key>
                <string>{{3,638},{83,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>boss-marine-rocket-go-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-70}</string>
                <key>spriteSize</key>
                <string>{83,90}</string>
                <key>spriteSourceSize</key>
                <string>{137,252}</string>
                <key>textureRect</key>
                <string>{{514,549},{83,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>boss-marine-rocket-go-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-45}</string>
                <key>spriteSize</key>
                <string>{89,140}</string>
                <key>spriteSourceSize</key>
                <string>{137,252}</string>
                <key>textureRect</key>
                <string>{{770,686},{89,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>boss-marine-rocket-go-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-48}</string>
                <key>spriteSize</key>
                <string>{103,146}</string>
                <key>spriteSourceSize</key>
                <string>{137,252}</string>
                <key>textureRect</key>
                <string>{{514,397},{103,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss-marine-rocket-go-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-35}</string>
                <key>spriteSize</key>
                <string>{113,182}</string>
                <key>spriteSourceSize</key>
                <string>{137,252}</string>
                <key>textureRect</key>
                <string>{{824,442},{113,182}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>boss-marine-rocket-go-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,3}</string>
                <key>spriteSize</key>
                <string>{109,236}</string>
                <key>spriteSourceSize</key>
                <string>{137,252}</string>
                <key>textureRect</key>
                <string>{{318,282},{109,236}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>boss-marine-anim-sheet.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ab7d982b703479c6cb906d339cbfae80:d04abc8dfe757c8982418c8594234652:2d4ba9ed8ce066eef0fc02bd187bbe06$</string>
            <key>textureFileName</key>
            <string>boss-marine-anim-sheet.pvr.ccz</string>
        </dict>
    </dict>
</plist>
