<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn-achievement-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,110}</string>
                <key>spriteSourceSize</key>
                <string>{160,110}</string>
                <key>textureRect</key>
                <string>{{351,666},{160,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn-achievement-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,110}</string>
                <key>spriteSourceSize</key>
                <string>{160,110}</string>
                <key>textureRect</key>
                <string>{{435,550},{160,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn-leaderboard-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,110}</string>
                <key>spriteSourceSize</key>
                <string>{160,110}</string>
                <key>textureRect</key>
                <string>{{467,318},{160,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn-leaderboard-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,110}</string>
                <key>spriteSourceSize</key>
                <string>{160,110}</string>
                <key>textureRect</key>
                <string>{{583,318},{160,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn-menu-new-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{694,152}</string>
                <key>spriteSourceSize</key>
                <string>{694,152}</string>
                <key>textureRect</key>
                <string>{{3,160},{694,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn-menu-new-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{694,152}</string>
                <key>spriteSourceSize</key>
                <string>{694,152}</string>
                <key>textureRect</key>
                <string>{{703,160},{694,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn-music-off-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,110}</string>
                <key>spriteSourceSize</key>
                <string>{160,110}</string>
                <key>textureRect</key>
                <string>{{699,318},{160,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn-music-off-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,110}</string>
                <key>spriteSourceSize</key>
                <string>{160,110}</string>
                <key>textureRect</key>
                <string>{{699,434},{160,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn-music-on-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,110}</string>
                <key>spriteSourceSize</key>
                <string>{160,110}</string>
                <key>textureRect</key>
                <string>{{467,666},{160,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn-music-on-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,110}</string>
                <key>spriteSourceSize</key>
                <string>{160,110}</string>
                <key>textureRect</key>
                <string>{{583,666},{160,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn-rate-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,110}</string>
                <key>spriteSourceSize</key>
                <string>{160,110}</string>
                <key>textureRect</key>
                <string>{{601,550},{160,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn-rate-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,110}</string>
                <key>spriteSourceSize</key>
                <string>{160,110}</string>
                <key>textureRect</key>
                <string>{{699,666},{160,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn-sound-off-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,110}</string>
                <key>spriteSourceSize</key>
                <string>{160,110}</string>
                <key>textureRect</key>
                <string>{{767,550},{160,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn-sound-off-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,110}</string>
                <key>spriteSourceSize</key>
                <string>{160,110}</string>
                <key>textureRect</key>
                <string>{{815,666},{160,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn-sound-on-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,110}</string>
                <key>spriteSourceSize</key>
                <string>{160,110}</string>
                <key>textureRect</key>
                <string>{{933,550},{160,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn-sound-on-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,110}</string>
                <key>spriteSourceSize</key>
                <string>{160,110}</string>
                <key>textureRect</key>
                <string>{{931,666},{160,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn-upgrade-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,110}</string>
                <key>spriteSourceSize</key>
                <string>{160,110}</string>
                <key>textureRect</key>
                <string>{{1219,666},{160,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn-upgrade-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,110}</string>
                <key>spriteSourceSize</key>
                <string>{160,110}</string>
                <key>textureRect</key>
                <string>{{931,782},{160,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_about_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,110}</string>
                <key>spriteSourceSize</key>
                <string>{160,110}</string>
                <key>textureRect</key>
                <string>{{1217,782},{160,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_about_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,110}</string>
                <key>spriteSourceSize</key>
                <string>{160,110}</string>
                <key>textureRect</key>
                <string>{{1097,790},{160,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_back_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,110}</string>
                <key>spriteSourceSize</key>
                <string>{160,110}</string>
                <key>textureRect</key>
                <string>{{921,898},{160,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_back_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,110}</string>
                <key>spriteSourceSize</key>
                <string>{160,110}</string>
                <key>textureRect</key>
                <string>{{1213,898},{160,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_back_long_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,110}</string>
                <key>spriteSourceSize</key>
                <string>{210,110}</string>
                <key>textureRect</key>
                <string>{{3,666},{210,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_back_long_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,110}</string>
                <key>spriteSourceSize</key>
                <string>{210,110}</string>
                <key>textureRect</key>
                <string>{{3,550},{210,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_daily_gift_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,110}</string>
                <key>spriteSourceSize</key>
                <string>{160,110}</string>
                <key>textureRect</key>
                <string>{{1087,956},{160,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_daily_gift_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,110}</string>
                <key>spriteSourceSize</key>
                <string>{160,110}</string>
                <key>textureRect</key>
                <string>{{921,1014},{160,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_facebook_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{713,151}</string>
                <key>spriteSourceSize</key>
                <string>{713,151}</string>
                <key>textureRect</key>
                <string>{{3,3},{713,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_facebook_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{713,151}</string>
                <key>spriteSourceSize</key>
                <string>{713,151}</string>
                <key>textureRect</key>
                <string>{{722,3},{713,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_help_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,110}</string>
                <key>spriteSourceSize</key>
                <string>{160,110}</string>
                <key>textureRect</key>
                <string>{{1379,913},{160,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_help_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,110}</string>
                <key>spriteSourceSize</key>
                <string>{160,110}</string>
                <key>textureRect</key>
                <string>{{1203,1014},{160,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_home_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,110}</string>
                <key>spriteSourceSize</key>
                <string>{160,110}</string>
                <key>textureRect</key>
                <string>{{1087,1122},{160,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_home_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,110}</string>
                <key>spriteSourceSize</key>
                <string>{160,110}</string>
                <key>textureRect</key>
                <string>{{921,1130},{160,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_home_long_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,110}</string>
                <key>spriteSourceSize</key>
                <string>{210,110}</string>
                <key>textureRect</key>
                <string>{{3,318},{210,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_home_long_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,110}</string>
                <key>spriteSourceSize</key>
                <string>{210,110}</string>
                <key>textureRect</key>
                <string>{{119,318},{210,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_item_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,168}</string>
                <key>spriteSourceSize</key>
                <string>{168,168}</string>
                <key>textureRect</key>
                <string>{{1227,318},{168,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_item_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,168}</string>
                <key>spriteSourceSize</key>
                <string>{168,168}</string>
                <key>textureRect</key>
                <string>{{1227,492},{168,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_menu_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{526,110}</string>
                <key>spriteSourceSize</key>
                <string>{526,110}</string>
                <key>textureRect</key>
                <string>{{1441,3},{526,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_menu_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{526,110}</string>
                <key>spriteSourceSize</key>
                <string>{526,110}</string>
                <key>textureRect</key>
                <string>{{1441,119},{526,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_menu_long_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{678,110}</string>
                <key>spriteSourceSize</key>
                <string>{678,110}</string>
                <key>textureRect</key>
                <string>{{3,931},{678,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_menu_long_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{678,110}</string>
                <key>spriteSourceSize</key>
                <string>{678,110}</string>
                <key>textureRect</key>
                <string>{{119,931},{678,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_play_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,110}</string>
                <key>spriteSourceSize</key>
                <string>{160,110}</string>
                <key>textureRect</key>
                <string>{{921,1246},{160,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_play_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,110}</string>
                <key>spriteSourceSize</key>
                <string>{160,110}</string>
                <key>textureRect</key>
                <string>{{1545,913},{160,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_setting_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,110}</string>
                <key>spriteSourceSize</key>
                <string>{160,110}</string>
                <key>textureRect</key>
                <string>{{887,1362},{160,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_setting_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,110}</string>
                <key>spriteSourceSize</key>
                <string>{160,110}</string>
                <key>textureRect</key>
                <string>{{1711,931},{160,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button-9-blank-active.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,110}</string>
                <key>spriteSourceSize</key>
                <string>{300,110}</string>
                <key>textureRect</key>
                <string>{{1729,235},{300,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button-9-blank-highlight.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,110}</string>
                <key>spriteSourceSize</key>
                <string>{300,110}</string>
                <key>textureRect</key>
                <string>{{1729,351},{300,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button-9-blank-inactive.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,110}</string>
                <key>spriteSourceSize</key>
                <string>{300,110}</string>
                <key>textureRect</key>
                <string>{{1729,467},{300,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button-backward-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,114}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{681,1915},{114,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button-backward-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,114}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{801,1915},{114,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button-blank-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,110}</string>
                <key>spriteSourceSize</key>
                <string>{300,110}</string>
                <key>textureRect</key>
                <string>{{1729,583},{300,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button-blank-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,110}</string>
                <key>spriteSourceSize</key>
                <string>{300,110}</string>
                <key>textureRect</key>
                <string>{{1729,699},{300,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button-blank-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,110}</string>
                <key>spriteSourceSize</key>
                <string>{300,110}</string>
                <key>textureRect</key>
                <string>{{1729,815},{300,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button-blank-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,110}</string>
                <key>spriteSourceSize</key>
                <string>{210,110}</string>
                <key>textureRect</key>
                <string>{{119,666},{210,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>button-blank-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,110}</string>
                <key>spriteSourceSize</key>
                <string>{210,110}</string>
                <key>textureRect</key>
                <string>{{219,550},{210,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button-blank-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,110}</string>
                <key>spriteSourceSize</key>
                <string>{210,110}</string>
                <key>textureRect</key>
                <string>{{235,318},{210,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>button-forward-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,114}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1099,550},{114,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button-forward-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,114}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1097,670},{114,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button-free-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{672,320}</string>
                <key>spriteSourceSize</key>
                <string>{672,320}</string>
                <key>textureRect</key>
                <string>{{1403,235},{672,320}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>button-free-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{672,320}</string>
                <key>spriteSourceSize</key>
                <string>{672,320}</string>
                <key>textureRect</key>
                <string>{{3,1615},{672,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button-iap-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{672,320}</string>
                <key>spriteSourceSize</key>
                <string>{672,320}</string>
                <key>textureRect</key>
                <string>{{235,931},{672,320}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>button-iap-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{672,320}</string>
                <key>spriteSourceSize</key>
                <string>{672,320}</string>
                <key>textureRect</key>
                <string>{{561,931},{672,320}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>button-menu-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,110}</string>
                <key>spriteSourceSize</key>
                <string>{160,110}</string>
                <key>textureRect</key>
                <string>{{1877,931},{160,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button-menu-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,110}</string>
                <key>spriteSourceSize</key>
                <string>{160,110}</string>
                <key>textureRect</key>
                <string>{{1369,1029},{160,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button-pause-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,110}</string>
                <key>spriteSourceSize</key>
                <string>{160,110}</string>
                <key>textureRect</key>
                <string>{{1203,1130},{160,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button-pause-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,110}</string>
                <key>spriteSourceSize</key>
                <string>{160,110}</string>
                <key>textureRect</key>
                <string>{{1535,1029},{160,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button-refresh-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,110}</string>
                <key>spriteSourceSize</key>
                <string>{160,110}</string>
                <key>textureRect</key>
                <string>{{1701,1047},{160,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button-refresh-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,110}</string>
                <key>spriteSourceSize</key>
                <string>{160,110}</string>
                <key>textureRect</key>
                <string>{{1867,1047},{160,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button-search-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,110}</string>
                <key>spriteSourceSize</key>
                <string>{160,110}</string>
                <key>textureRect</key>
                <string>{{1369,1145},{160,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button-search-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,110}</string>
                <key>spriteSourceSize</key>
                <string>{160,110}</string>
                <key>textureRect</key>
                <string>{{1203,1246},{160,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button-skip-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,110}</string>
                <key>spriteSourceSize</key>
                <string>{210,110}</string>
                <key>textureRect</key>
                <string>{{351,318},{210,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>button-skip-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,110}</string>
                <key>spriteSourceSize</key>
                <string>{210,110}</string>
                <key>textureRect</key>
                <string>{{235,666},{210,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>button_blank_red_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,110}</string>
                <key>spriteSourceSize</key>
                <string>{300,110}</string>
                <key>textureRect</key>
                <string>{{681,1609},{300,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>button_blank_red_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,110}</string>
                <key>spriteSourceSize</key>
                <string>{300,110}</string>
                <key>textureRect</key>
                <string>{{797,1609},{300,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>button_watch_video_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,110}</string>
                <key>spriteSourceSize</key>
                <string>{300,110}</string>
                <key>textureRect</key>
                <string>{{921,318},{300,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_watch_video_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,110}</string>
                <key>spriteSourceSize</key>
                <string>{300,110}</string>
                <key>textureRect</key>
                <string>{{921,434},{300,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>button-sheet.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b1fd77b1700c7e4d3689e2e13422b380:807a1394f980412b37a2fbf631de21db:2a4bff2f326fb5f4e31af89f711e87a6$</string>
            <key>textureFileName</key>
            <string>button-sheet.pvr.ccz</string>
        </dict>
    </dict>
</plist>
