<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>$.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,76}</string>
                <key>spriteSourceSize</key>
                <string>{76,76}</string>
                <key>textureRect</key>
                <string>{{1848,1239},{76,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>achievement-bg-content.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1053,99}</string>
                <key>spriteSourceSize</key>
                <string>{1053,99}</string>
                <key>textureRect</key>
                <string>{{3,357},{1053,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>achievement-bg-process.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{344,38}</string>
                <key>spriteSourceSize</key>
                <string>{344,38}</string>
                <key>textureRect</key>
                <string>{{1629,948},{344,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>achievement-perent-process.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,24}</string>
                <key>spriteSourceSize</key>
                <string>{119,24}</string>
                <key>textureRect</key>
                <string>{{1523,588},{119,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>avatar-bg-user.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,140}</string>
                <key>spriteSourceSize</key>
                <string>{147,140}</string>
                <key>textureRect</key>
                <string>{{1231,1194},{147,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>avatar-default.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{3,1495},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>avatar-default.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,96}</string>
                <key>spriteSourceSize</key>
                <string>{107,96}</string>
                <key>textureRect</key>
                <string>{{1633,214},{107,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>background-select-tank.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{307,307}</string>
                <key>spriteSourceSize</key>
                <string>{307,307}</string>
                <key>textureRect</key>
                <string>{{795,616},{307,307}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg-tank-collection.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{703,205}</string>
                <key>spriteSourceSize</key>
                <string>{709,207}</string>
                <key>textureRect</key>
                <string>{{1129,3},{703,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_content_ground_tank.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{319,203}</string>
                <key>spriteSourceSize</key>
                <string>{319,203}</string>
                <key>textureRect</key>
                <string>{{1838,3},{319,203}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>castle-destroyed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-6}</string>
                <key>spriteSize</key>
                <string>{102,102}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1523,713},{102,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>castle-standing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,116}</string>
                <key>spriteSourceSize</key>
                <string>{128,116}</string>
                <key>textureRect</key>
                <string>{{425,1715},{128,116}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>check-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,75}</string>
                <key>spriteSourceSize</key>
                <string>{91,75}</string>
                <key>textureRect</key>
                <string>{{1855,1158},{91,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>check.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{137,1495},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>clock.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,106}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1735,214},{82,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>crate-bronze-open.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{390,308}</string>
                <key>spriteSourceSize</key>
                <string>{390,308}</string>
                <key>textureRect</key>
                <string>{{1633,328},{390,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>crate-bronze.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,119}</string>
                <key>spriteSourceSize</key>
                <string>{130,119}</string>
                <key>textureRect</key>
                <string>{{1504,929},{130,119}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>crate-diamond-open.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{390,300}</string>
                <key>spriteSourceSize</key>
                <string>{390,300}</string>
                <key>textureRect</key>
                <string>{{1631,642},{390,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>crate-diamond.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,114}</string>
                <key>spriteSourceSize</key>
                <string>{130,114}</string>
                <key>textureRect</key>
                <string>{{1384,1194},{130,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>crate-free-open.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{390,305}</string>
                <key>spriteSourceSize</key>
                <string>{390,305}</string>
                <key>textureRect</key>
                <string>{{3,462},{390,305}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>crate-free.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,114}</string>
                <key>spriteSourceSize</key>
                <string>{130,114}</string>
                <key>textureRect</key>
                <string>{{1384,1330},{130,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>crate-gold-open.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{390,305}</string>
                <key>spriteSourceSize</key>
                <string>{390,305}</string>
                <key>textureRect</key>
                <string>{{399,462},{390,305}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>crate-gold.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,117}</string>
                <key>spriteSourceSize</key>
                <string>{130,117}</string>
                <key>textureRect</key>
                <string>{{1504,1335},{130,117}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>crate-platinum-open.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{390,291}</string>
                <key>spriteSourceSize</key>
                <string>{390,291}</string>
                <key>textureRect</key>
                <string>{{1108,897},{390,291}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>crate-platinum.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,117}</string>
                <key>spriteSourceSize</key>
                <string>{130,117}</string>
                <key>textureRect</key>
                <string>{{1920,1447},{130,117}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>crate-silver-open.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{390,303}</string>
                <key>spriteSourceSize</key>
                <string>{390,303}</string>
                <key>textureRect</key>
                <string>{{1127,588},{390,303}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>crate-silver.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,119}</string>
                <key>spriteSourceSize</key>
                <string>{130,119}</string>
                <key>textureRect</key>
                <string>{{1504,1065},{130,119}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>easy_star.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,62}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1979,948},{66,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>editbox.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{419,122}</string>
                <key>spriteSourceSize</key>
                <string>{419,122}</string>
                <key>textureRect</key>
                <string>{{1128,460},{419,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>en.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,140}</string>
                <key>spriteSourceSize</key>
                <string>{140,140}</string>
                <key>textureRect</key>
                <string>{{1628,1203},{140,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,58}</string>
                <key>spriteSourceSize</key>
                <string>{128,64}</string>
                <key>textureRect</key>
                <string>{{3,1629},{128,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>es.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,140}</string>
                <key>spriteSourceSize</key>
                <string>{140,140}</string>
                <key>textureRect</key>
                <string>{{1774,1337},{140,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flag-boss.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{126,110}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{795,500},{126,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flag-normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{126,110}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{991,929},{126,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>game-over.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{498,240}</string>
                <key>spriteSourceSize</key>
                <string>{640,256}</string>
                <key>textureRect</key>
                <string>{{1129,214},{498,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hard_star.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,118}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1504,1201},{128,118}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>healthbar-bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,32}</string>
                <key>spriteSourceSize</key>
                <string>{256,32}</string>
                <key>textureRect</key>
                <string>{{795,462},{256,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>healthbar-progress.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,26}</string>
                <key>spriteSourceSize</key>
                <string>{12,26}</string>
                <key>textureRect</key>
                <string>{{2029,496},{12,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>key-bronze.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,143}</string>
                <key>spriteSourceSize</key>
                <string>{220,143}</string>
                <key>textureRect</key>
                <string>{{1629,1054},{220,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>key-diamond.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,143}</string>
                <key>spriteSourceSize</key>
                <string>{220,143}</string>
                <key>textureRect</key>
                <string>{{3,773},{220,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>key-gold.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,143}</string>
                <key>spriteSourceSize</key>
                <string>{220,143}</string>
                <key>textureRect</key>
                <string>{{229,773},{220,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>key-platinum.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,143}</string>
                <key>spriteSourceSize</key>
                <string>{220,143}</string>
                <key>textureRect</key>
                <string>{{455,773},{220,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>key-silver.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,143}</string>
                <key>spriteSourceSize</key>
                <string>{220,143}</string>
                <key>textureRect</key>
                <string>{{765,929},{220,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lock.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{72,90}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{1553,520},{72,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>logo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1120,348}</string>
                <key>spriteSourceSize</key>
                <string>{1120,348}</string>
                <key>textureRect</key>
                <string>{{3,3},{1120,348}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>medium_star.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,7}</string>
                <key>spriteSize</key>
                <string>{128,76}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{991,1061},{128,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>menu-icon-about.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,59}</string>
                <key>spriteSourceSize</key>
                <string>{12,59}</string>
                <key>textureRect</key>
                <string>{{2029,431},{12,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menu-icon-campain.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,51}</string>
                <key>spriteSourceSize</key>
                <string>{61,51}</string>
                <key>textureRect</key>
                <string>{{1062,357},{61,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menu-icon-companion.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,54}</string>
                <key>spriteSourceSize</key>
                <string>{74,54}</string>
                <key>textureRect</key>
                <string>{{1553,460},{74,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menu-icon-crate.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,64}</string>
                <key>spriteSourceSize</key>
                <string>{60,64}</string>
                <key>textureRect</key>
                <string>{{1062,414},{60,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menu-icon-multiplayer.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,52}</string>
                <key>spriteSourceSize</key>
                <string>{56,52}</string>
                <key>textureRect</key>
                <string>{{137,1629},{56,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>menu-icon-pvp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,68}</string>
                <key>spriteSourceSize</key>
                <string>{76,68}</string>
                <key>textureRect</key>
                <string>{{1774,1203},{76,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>menu-icon-upgrade.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,63}</string>
                <key>spriteSourceSize</key>
                <string>{60,63}</string>
                <key>textureRect</key>
                <string>{{1930,1247},{60,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>notification.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,102}</string>
                <key>spriteSourceSize</key>
                <string>{102,102}</string>
                <key>textureRect</key>
                <string>{{1523,821},{102,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{126,64}</string>
                <key>spriteSourceSize</key>
                <string>{128,64}</string>
                <key>textureRect</key>
                <string>{{1057,484},{126,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,140}</string>
                <key>spriteSourceSize</key>
                <string>{140,140}</string>
                <key>textureRect</key>
                <string>{{1627,1349},{140,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rank-process.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,16}</string>
                <key>spriteSourceSize</key>
                <string>{97,16}</string>
                <key>textureRect</key>
                <string>{{2029,328},{97,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rank-up-change.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,52}</string>
                <key>spriteSourceSize</key>
                <string>{152,52}</string>
                <key>textureRect</key>
                <string>{{1073,1194},{152,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ru.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,140}</string>
                <key>spriteSourceSize</key>
                <string>{140,140}</string>
                <key>textureRect</key>
                <string>{{1773,1483},{140,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shield-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,136}</string>
                <key>spriteSourceSize</key>
                <string>{136,136}</string>
                <key>textureRect</key>
                <string>{{148,1195},{136,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shield-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,136}</string>
                <key>spriteSourceSize</key>
                <string>{136,136}</string>
                <key>textureRect</key>
                <string>{{290,1195},{136,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shield-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,136}</string>
                <key>spriteSourceSize</key>
                <string>{136,136}</string>
                <key>textureRect</key>
                <string>{{3,1861},{136,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shield-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,136}</string>
                <key>spriteSourceSize</key>
                <string>{136,136}</string>
                <key>textureRect</key>
                <string>{{145,1861},{136,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shield-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,136}</string>
                <key>spriteSourceSize</key>
                <string>{136,136}</string>
                <key>textureRect</key>
                <string>{{149,1715},{136,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shield-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,136}</string>
                <key>spriteSourceSize</key>
                <string>{136,136}</string>
                <key>textureRect</key>
                <string>{{287,1857},{136,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spawn-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{72,72}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1553,616},{72,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spawn-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,98}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1855,1054},{98,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spawn-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,126}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1919,1583},{126,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spawn-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,126}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{547,922},{126,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,4}</string>
                <key>spriteSize</key>
                <string>{78,78}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{972,500},{78,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star_empty.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,4}</string>
                <key>spriteSize</key>
                <string>{78,78}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{681,861},{78,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tank-border-select.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,139}</string>
                <key>spriteSourceSize</key>
                <string>{139,139}</string>
                <key>textureRect</key>
                <string>{{3,1195},{139,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tank-type-a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,46}</string>
                <key>spriteSourceSize</key>
                <string>{53,46}</string>
                <key>textureRect</key>
                <string>{{1999,1247},{53,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tank-type-b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,46}</string>
                <key>spriteSourceSize</key>
                <string>{53,46}</string>
                <key>textureRect</key>
                <string>{{1999,1306},{53,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tank-type-c.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,45}</string>
                <key>spriteSourceSize</key>
                <string>{35,45}</string>
                <key>textureRect</key>
                <string>{{1995,1365},{35,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tank-type-s.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,46}</string>
                <key>spriteSourceSize</key>
                <string>{68,46}</string>
                <key>textureRect</key>
                <string>{{1774,1285},{68,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tank-type-ss.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,59}</string>
                <key>spriteSourceSize</key>
                <string>{128,59}</string>
                <key>textureRect</key>
                <string>{{1930,1313},{128,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tank-type-sss.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,78}</string>
                <key>spriteSourceSize</key>
                <string>{137,78}</string>
                <key>textureRect</key>
                <string>{{1965,1016},{137,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>th.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,140}</string>
                <key>spriteSourceSize</key>
                <string>{140,140}</string>
                <key>textureRect</key>
                <string>{{3,1715},{140,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tr.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,140}</string>
                <key>spriteSourceSize</key>
                <string>{140,140}</string>
                <key>textureRect</key>
                <string>{{3,1340},{140,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>uncheck.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{291,1715},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>upgrade-bg-process.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{330,56}</string>
                <key>spriteSourceSize</key>
                <string>{330,56}</string>
                <key>textureRect</key>
                <string>{{1629,992},{330,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>upgrade-bg-type-tank.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,39}</string>
                <key>spriteSourceSize</key>
                <string>{103,39}</string>
                <key>textureRect</key>
                <string>{{927,500},{103,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>upgrade-process-children.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,26}</string>
                <key>spriteSourceSize</key>
                <string>{12,26}</string>
                <key>textureRect</key>
                <string>{{2029,528},{12,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>upgrade-process-max.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,26}</string>
                <key>spriteSourceSize</key>
                <string>{34,26}</string>
                <key>textureRect</key>
                <string>{{972,584},{34,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,140}</string>
                <key>spriteSourceSize</key>
                <string>{140,140}</string>
                <key>textureRect</key>
                <string>{{149,1340},{140,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>white-back-arrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,4}</string>
                <key>spriteSize</key>
                <string>{82,82}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1952,1159},{82,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>white-forward-arrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{82,82}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{681,773},{82,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>common-sheet.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:219acf4e31ee6d5ec8e997b59896586d:f4777acc78aa7e4b0afb6fa091b4d639:d2a3b6dffde8455dcd7c981df184d0ae$</string>
            <key>textureFileName</key>
            <string>common-sheet.pvr.ccz</string>
        </dict>
    </dict>
</plist>
