<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dialog.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1536,944}</string>
                <key>spriteSourceSize</key>
                <string>{1536,944}</string>
                <key>textureRect</key>
                <string>{{3,3},{1536,944}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>dialog-sheet.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:af9580ae5c4849291a5fcc469e588ea3:0f3bd02c52d12f83ed449c0d0071fb28:fec46a7b9c495b5595926467c184d859$</string>
            <key>textureFileName</key>
            <string>dialog-sheet.pvr.ccz</string>
        </dict>
    </dict>
</plist>
