<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>balloon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{222,185}</string>
                <key>spriteSourceSize</key>
                <string>{222,185}</string>
                <key>textureRect</key>
                <string>{{3,1633},{222,185}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>block.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,210}</string>
                <key>spriteSourceSize</key>
                <string>{340,210}</string>
                <key>textureRect</key>
                <string>{{3,1287},{340,210}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>coin-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,180}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{869,3},{144,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,40}</string>
                <key>spriteSourceSize</key>
                <string>{34,40}</string>
                <key>textureRect</key>
                <string>{{869,295},{34,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>failed-icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,180}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{3,1861},{180,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>iap-bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1278,860}</string>
                <key>spriteSourceSize</key>
                <string>{1280,860}</string>
                <key>textureRect</key>
                <string>{{3,3},{1278,860}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>success-icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,180}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{189,1861},{180,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>video.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,100}</string>
                <key>spriteSourceSize</key>
                <string>{120,100}</string>
                <key>textureRect</key>
                <string>{{869,189},{120,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>iap-sheet.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f3b9b4e0da6188528650be33543022b7:1fc94dc1b9352968d00591f4e22d2b03:7c5e1758758f620687441b08a7adb288$</string>
            <key>textureFileName</key>
            <string>iap-sheet.pvr.ccz</string>
        </dict>
    </dict>
</plist>
