<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>action1Down.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{231,232}</string>
                <key>spriteSourceSize</key>
                <string>{231,232}</string>
                <key>textureRect</key>
                <string>{{753,495},{231,232}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>action1Up.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{231,232}</string>
                <key>spriteSourceSize</key>
                <string>{231,232}</string>
                <key>textureRect</key>
                <string>{{753,732},{231,232}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_D_pad.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{304,304}</string>
                <key>spriteSourceSize</key>
                <string>{304,304}</string>
                <key>textureRect</key>
                <string>{{443,495},{304,304}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_joystick.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{322,326}</string>
                <key>spriteSourceSize</key>
                <string>{328,328}</string>
                <key>textureRect</key>
                <string>{{3,491},{322,326}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dpad-bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{486,486}</string>
                <key>spriteSourceSize</key>
                <string>{486,486}</string>
                <key>textureRect</key>
                <string>{{497,3},{486,486}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dpad-circle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-94.5,97.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{192,198}</string>
                <key>textureRect</key>
                <string>{{989,3},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dpad-down-hl.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,222}</string>
                <key>spriteSourceSize</key>
                <string>{168,222}</string>
                <key>textureRect</key>
                <string>{{563,805},{168,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dpad-left-hl.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{222,168}</string>
                <key>spriteSourceSize</key>
                <string>{222,168}</string>
                <key>textureRect</key>
                <string>{{335,805},{222,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dpad-right-hl.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{222,168}</string>
                <key>spriteSourceSize</key>
                <string>{222,168}</string>
                <key>textureRect</key>
                <string>{{737,969},{222,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dpad-up-hl.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,222}</string>
                <key>spriteSourceSize</key>
                <string>{168,222}</string>
                <key>textureRect</key>
                <string>{{3,819},{168,222}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>joystick-bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{482,488}</string>
                <key>spriteSourceSize</key>
                <string>{492,492}</string>
                <key>textureRect</key>
                <string>{{3,3},{482,488}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>joystick-circle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,198}</string>
                <key>spriteSourceSize</key>
                <string>{192,198}</string>
                <key>textureRect</key>
                <string>{{231,979},{192,198}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>joystick-down-hl.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,60}</string>
                <key>spriteSourceSize</key>
                <string>{96,60}</string>
                <key>textureRect</key>
                <string>{{335,611},{96,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>joystick-left-hl.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,102}</string>
                <key>spriteSourceSize</key>
                <string>{54,102}</string>
                <key>textureRect</key>
                <string>{{335,491},{54,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>joystick-right-hl.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,102}</string>
                <key>spriteSourceSize</key>
                <string>{54,102}</string>
                <key>textureRect</key>
                <string>{{335,551},{54,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>joystick-up-hl.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,60}</string>
                <key>spriteSourceSize</key>
                <string>{96,60}</string>
                <key>textureRect</key>
                <string>{{335,677},{96,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>joystick-sheet.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:657158f4dba1d1ab0575bb809a66c69d:5637bfccdfd65d83f5be4e6f9bba50d2:4feae7689bc729977d81e8b3d4f0d630$</string>
            <key>textureFileName</key>
            <string>joystick-sheet.pvr.ccz</string>
        </dict>
    </dict>
</plist>
