<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>rank-2nd-lieutenant.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{122,98}</string>
                <key>spriteSourceSize</key>
                <string>{160,140}</string>
                <key>textureRect</key>
                <string>{{143,423},{122,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rank-brigadier-general.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{134,130}</string>
                <key>spriteSourceSize</key>
                <string>{160,140}</string>
                <key>textureRect</key>
                <string>{{3,143},{134,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rank-brigadier.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{134,130}</string>
                <key>spriteSourceSize</key>
                <string>{160,140}</string>
                <key>textureRect</key>
                <string>{{3,279},{134,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rank-captain.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{122,98}</string>
                <key>spriteSourceSize</key>
                <string>{160,140}</string>
                <key>textureRect</key>
                <string>{{143,551},{122,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rank-colonel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{124,94}</string>
                <key>spriteSourceSize</key>
                <string>{160,140}</string>
                <key>textureRect</key>
                <string>{{143,679},{124,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rank-corporal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{84,90}</string>
                <key>spriteSourceSize</key>
                <string>{160,140}</string>
                <key>textureRect</key>
                <string>{{3,781},{84,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rank-general-of-the-army.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{158,134}</string>
                <key>spriteSourceSize</key>
                <string>{160,140}</string>
                <key>textureRect</key>
                <string>{{3,3},{158,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rank-general.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{134,130}</string>
                <key>spriteSourceSize</key>
                <string>{160,140}</string>
                <key>textureRect</key>
                <string>{{3,415},{134,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rank-lieutenant-colonel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{118,88}</string>
                <key>spriteSourceSize</key>
                <string>{160,140}</string>
                <key>textureRect</key>
                <string>{{3,687},{118,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rank-lieutenant-general.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{134,130}</string>
                <key>spriteSourceSize</key>
                <string>{160,140}</string>
                <key>textureRect</key>
                <string>{{3,551},{134,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rank-lieutenant.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{124,98}</string>
                <key>spriteSourceSize</key>
                <string>{160,140}</string>
                <key>textureRect</key>
                <string>{{143,293},{124,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rank-major.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{108,88}</string>
                <key>spriteSourceSize</key>
                <string>{160,140}</string>
                <key>textureRect</key>
                <string>{{143,199},{108,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rank-master-sergeant.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{84,90}</string>
                <key>spriteSourceSize</key>
                <string>{160,140}</string>
                <key>textureRect</key>
                <string>{{3,871},{84,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rank-private-first-class.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{84,92}</string>
                <key>spriteSourceSize</key>
                <string>{160,140}</string>
                <key>textureRect</key>
                <string>{{167,3},{84,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rank-private.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{84,92}</string>
                <key>spriteSourceSize</key>
                <string>{160,140}</string>
                <key>textureRect</key>
                <string>{{167,101},{84,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rank-sergeant.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{84,90}</string>
                <key>spriteSourceSize</key>
                <string>{160,140}</string>
                <key>textureRect</key>
                <string>{{93,871},{84,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>rank-sheet.pvr.ccz</string>
            <key>size</key>
            <string>{256,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3e173dfec032efd7f913feb4be7440f0:3320044842ac9945c401aa171958abf5:3417dac639532fc863739f346ec1846a$</string>
            <key>textureFileName</key>
            <string>rank-sheet.pvr.ccz</string>
        </dict>
    </dict>
</plist>
