<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shop-back-ground.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{249,765}</string>
                <key>spriteSourceSize</key>
                <string>{249,765}</string>
                <key>textureRect</key>
                <string>{{3,446},{249,765}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shop-btn-info-item-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{329,417}</string>
                <key>spriteSourceSize</key>
                <string>{329,417}</string>
                <key>textureRect</key>
                <string>{{3,701},{329,417}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shop-btn-info-item-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{329,417}</string>
                <key>spriteSourceSize</key>
                <string>{329,417}</string>
                <key>textureRect</key>
                <string>{{426,701},{329,417}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop-btn-tab-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{207,108}</string>
                <key>spriteSourceSize</key>
                <string>{207,108}</string>
                <key>textureRect</key>
                <string>{{797,3},{207,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop-btn-tab-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{207,108}</string>
                <key>spriteSourceSize</key>
                <string>{207,108}</string>
                <key>textureRect</key>
                <string>{{797,117},{207,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop-icon-bonus-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,156}</string>
                <key>spriteSourceSize</key>
                <string>{170,156}</string>
                <key>textureRect</key>
                <string>{{761,1004},{170,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop-icon-bonus-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{181,147}</string>
                <key>spriteSourceSize</key>
                <string>{181,147}</string>
                <key>textureRect</key>
                <string>{{774,527},{181,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop-icon-bonus-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,173}</string>
                <key>spriteSourceSize</key>
                <string>{184,173}</string>
                <key>textureRect</key>
                <string>{{797,348},{184,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop-icon-bonus-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{173,162}</string>
                <key>spriteSourceSize</key>
                <string>{173,162}</string>
                <key>textureRect</key>
                <string>{{761,836},{173,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop-icon-coin-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,81}</string>
                <key>spriteSourceSize</key>
                <string>{55,81}</string>
                <key>textureRect</key>
                <string>{{961,603},{55,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop-icon-coin-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,96}</string>
                <key>spriteSourceSize</key>
                <string>{125,96}</string>
                <key>textureRect</key>
                <string>{{3,1300},{125,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop-icon-coin-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,86}</string>
                <key>spriteSourceSize</key>
                <string>{160,86}</string>
                <key>textureRect</key>
                <string>{{353,1124},{160,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop-icon-coin-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,118}</string>
                <key>spriteSourceSize</key>
                <string>{74,118}</string>
                <key>textureRect</key>
                <string>{{937,1020},{74,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop-icon-coin-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,143}</string>
                <key>spriteSourceSize</key>
                <string>{157,143}</string>
                <key>textureRect</key>
                <string>{{179,1158},{157,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop-icon-coin-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,136}</string>
                <key>spriteSourceSize</key>
                <string>{170,136}</string>
                <key>textureRect</key>
                <string>{{3,1036},{170,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop-icon-dollar-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,78}</string>
                <key>spriteSourceSize</key>
                <string>{92,78}</string>
                <key>textureRect</key>
                <string>{{940,922},{92,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shop-icon-dollar-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,150}</string>
                <key>spriteSourceSize</key>
                <string>{175,150}</string>
                <key>textureRect</key>
                <string>{{774,680},{175,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop-icon-dollar-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,111}</string>
                <key>spriteSourceSize</key>
                <string>{189,111}</string>
                <key>textureRect</key>
                <string>{{797,231},{189,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop-icon-dollar-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,116}</string>
                <key>spriteSourceSize</key>
                <string>{128,116}</string>
                <key>textureRect</key>
                <string>{{3,1178},{128,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop-icon-dollar-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,116}</string>
                <key>spriteSourceSize</key>
                <string>{168,116}</string>
                <key>textureRect</key>
                <string>{{179,1036},{168,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop-icon-sale.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,36}</string>
                <key>spriteSourceSize</key>
                <string>{85,36}</string>
                <key>textureRect</key>
                <string>{{955,690},{85,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shop-icon-tank-tab.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{940,836},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop-icon-watch-ad.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,58}</string>
                <key>spriteSourceSize</key>
                <string>{70,58}</string>
                <key>textureRect</key>
                <string>{{961,527},{70,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shop-more-back-ground-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,10}</string>
                <key>spriteSourceSize</key>
                <string>{15,10}</string>
                <key>textureRect</key>
                <string>{{1010,3},{15,10}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shop-more-back-ground-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-2}</string>
                <key>spriteSize</key>
                <string>{437,788}</string>
                <key>spriteSourceSize</key>
                <string>{441,792}</string>
                <key>textureRect</key>
                <string>{{3,3},{437,788}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>shop-sheet.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f73a7bb06235e8f13203e32cae31ea3c:8675aec5a05eb6c03207f4bf6881599c:9bd2d53ffb71177c660f17ea8097cfa0$</string>
            <key>textureFileName</key>
            <string>shop-sheet.pvr.ccz</string>
        </dict>
    </dict>
</plist>
