<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tank-a-dragon-01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{110,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{137,119},{110,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tank-a-dragon-02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{110,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{271,119},{110,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tank-a-dragon-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{128,110}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{3,3},{128,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tank-a-dragon-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{128,110}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{137,3},{128,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tank-a-dragon-21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{110,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{405,119},{110,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tank-a-dragon-22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{110,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{539,119},{110,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tank-a-dragon-31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{128,110}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{271,3},{128,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tank-a-dragon-32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{128,110}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{405,3},{128,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tank-a-freedom-01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{90,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{271,685},{90,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tank-a-freedom-02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{90,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{405,685},{90,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tank-a-freedom-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{128,90}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{807,669},{128,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tank-a-freedom-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{128,90}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{807,765},{128,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tank-a-freedom-21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{90,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{3,687},{90,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tank-a-freedom-22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{90,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{137,687},{90,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tank-a-freedom-31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{128,90}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{673,767},{128,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tank-a-freedom-32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{128,90}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{807,861},{128,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tank-a-justice-01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{405,461},{106,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tank-a-justice-02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{3,463},{106,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tank-a-justice-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{128,106}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{539,235},{128,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tank-a-justice-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{128,106}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{673,235},{128,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tank-a-justice-21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{137,463},{106,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tank-a-justice-22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{673,459},{106,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tank-a-justice-31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{128,106}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{807,235},{128,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tank-a-justice-32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{128,106}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{539,347},{128,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tank-a-panther-01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{106,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{807,459},{106,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tank-a-panther-02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{106,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{539,571},{106,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tank-a-panther-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,106}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{271,349},{128,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tank-a-panther-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,106}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{405,349},{128,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tank-a-panther-21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{271,573},{106,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tank-a-panther-22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{405,573},{106,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tank-a-panther-31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{128,106}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{3,351},{128,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tank-a-panther-32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{128,106}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{137,351},{128,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tank-b-eagle-01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{92,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{673,571},{92,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tank-b-eagle-02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{92,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{807,571},{92,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tank-b-eagle-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{128,88}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{271,781},{128,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tank-b-eagle-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{128,88}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{3,783},{128,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tank-b-eagle-21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{92,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{673,669},{92,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tank-b-eagle-22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{92,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{539,683},{92,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tank-b-eagle-31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{128,88}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{137,783},{128,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tank-b-eagle-32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{128,88}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{405,781},{128,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tank-b-fox-01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-1}</string>
                <key>spriteSize</key>
                <string>{90,126}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{931,1073},{90,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tank-b-fox-02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-1}</string>
                <key>spriteSize</key>
                <string>{90,126}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{135,973},{90,126}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tank-b-fox-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-4}</string>
                <key>spriteSize</key>
                <string>{126,90}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{667,979},{126,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tank-b-fox-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-4}</string>
                <key>spriteSize</key>
                <string>{126,90}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{799,1073},{126,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tank-b-fox-21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-1}</string>
                <key>spriteSize</key>
                <string>{90,126}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{267,991},{90,126}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tank-b-fox-22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-1}</string>
                <key>spriteSize</key>
                <string>{90,126}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{399,991},{90,126}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tank-b-fox-31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{126,90}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{3,877},{126,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tank-b-fox-32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{126,90}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{135,877},{126,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tank-b-tiger-01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{110,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{673,119},{110,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tank-b-tiger-02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{110,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{807,119},{110,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tank-b-tiger-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,110}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{539,3},{128,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tank-b-tiger-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,110}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{673,3},{128,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tank-b-tiger-21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{110,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{3,235},{110,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tank-b-tiger-22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{110,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{137,235},{110,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tank-b-tiger-31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,110}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{807,3},{128,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tank-b-tiger-32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,110}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{3,119},{128,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tank-b-woft-01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{271,235},{108,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tank-b-woft-02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{405,235},{108,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tank-b-woft-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,106}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{673,347},{128,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tank-b-woft-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,106}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{807,347},{128,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tank-b-woft-21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{3,575},{106,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tank-b-woft-22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{137,575},{106,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tank-b-woft-31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,106}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{539,459},{128,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tank-b-woft-32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,106}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{271,461},{128,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tank-c-bigguy-01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{110,124}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{795,1169},{110,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tank-c-bigguy-02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{110,124}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{3,1069},{110,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tank-c-bigguy-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-4}</string>
                <key>spriteSize</key>
                <string>{126,110}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{539,781},{126,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tank-c-bigguy-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-4}</string>
                <key>spriteSize</key>
                <string>{126,110}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{671,863},{126,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tank-c-bigguy-21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-1}</string>
                <key>spriteSize</key>
                <string>{110,126}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{403,875},{110,126}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tank-c-bigguy-22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-1}</string>
                <key>spriteSize</key>
                <string>{110,126}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{535,897},{110,126}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tank-c-bigguy-31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-4}</string>
                <key>spriteSize</key>
                <string>{126,110}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{803,957},{126,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tank-c-bigguy-32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-4}</string>
                <key>spriteSize</key>
                <string>{126,110}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{271,875},{126,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tank-c-little-01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-1}</string>
                <key>spriteSize</key>
                <string>{90,126}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{531,1013},{90,126}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tank-c-little-02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-1}</string>
                <key>spriteSize</key>
                <string>{90,126}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{663,1075},{90,126}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tank-c-little-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{120,90}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{385,1199},{120,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tank-c-little-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{120,90}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{641,1171},{120,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tank-c-little-21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{90,122}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{133,1069},{90,122}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tank-c-little-22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{90,122}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{261,1087},{90,122}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tank-c-little-31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{126,90}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{3,973},{126,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tank-c-little-32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{124,90}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{925,1205},{124,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tank-c-t24-01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{106,120}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{129,1277},{106,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tank-c-t24-02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,116}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{511,1221},{102,116}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tank-c-t24-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{120,106}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{133,1165},{120,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tank-c-t24-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{120,106}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{3,1185},{120,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tank-c-t24-21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{106,120}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{3,1297},{106,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tank-c-t24-22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{106,120}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{515,1109},{106,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tank-c-t24-31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{120,106}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{389,1087},{120,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tank-c-t24-32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{120,106}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{259,1183},{120,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>tank-1-sheet.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:31f471e1ded64e26633b53bf25314fcd:c86007a34c83d4838fc04a580fef5810:c2430181d8e5b3944ff424243e73eeb3$</string>
            <key>textureFileName</key>
            <string>tank-1-sheet.pvr.ccz</string>
        </dict>
    </dict>
</plist>
