<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>background-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{3,1913},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>background-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,104}</string>
                <key>spriteSourceSize</key>
                <string>{104,104}</string>
                <key>textureRect</key>
                <string>{{1929,3},{104,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>close_bar_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{690,1280}</string>
                <key>spriteSourceSize</key>
                <string>{690,1280}</string>
                <key>textureRect</key>
                <string>{{3,359},{690,1280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>close_bar_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{690,1280}</string>
                <key>spriteSourceSize</key>
                <string>{690,1280}</string>
                <key>textureRect</key>
                <string>{{699,359},{690,1280}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>company-logo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{1195,186}</string>
                <key>spriteSourceSize</key>
                <string>{1195,190}</string>
                <key>textureRect</key>
                <string>{{3,1721},{1195,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>reserve_ad.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1920,350}</string>
                <key>spriteSourceSize</key>
                <string>{1920,350}</string>
                <key>textureRect</key>
                <string>{{3,3},{1920,350}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>side_bar_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{327,1280}</string>
                <key>spriteSourceSize</key>
                <string>{327,1280}</string>
                <key>textureRect</key>
                <string>{{699,1055},{327,1280}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>side_bar_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{327,1280}</string>
                <key>spriteSourceSize</key>
                <string>{327,1280}</string>
                <key>textureRect</key>
                <string>{{699,1388},{327,1280}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ui-sheet.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:42b7bde5dafd4ad6faae542d367dff8a:4f9e527693eec4127d62f241d8a729d1:1684784a02cbe4cb4a53fa877138c0e1$</string>
            <key>textureFileName</key>
            <string>ui-sheet.pvr.ccz</string>
        </dict>
    </dict>
</plist>
