<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>achievement_dialog_content_0</key>
	<string>ทำลายข้าศึกถัง%</string>
	<key>achievement_dialog_content_1</key>
	<string>ล้างเวที%</string>
	<key>achievement_dialog_content_2</key>
	<string>เวลาการอัพเกรด TANK%</string>
	<key>achievement_dialog_content_3</key>
	<string>% STARS เก็บ</string>
	<key>achievement_dialog_content_4</key>
	<string>WIN% ครั้งในโหมด PVP</string>
	<key>achievement_dialog_reward_key</key>
	<string>รางวัล</string>
	<key>achievement_dialog_task_key</key>
	<string>งาน</string>
	<key>achievement_dialog_title_key</key>
	<string>ความสำเร็จ</string>
	<key>app_rate_dialog_decline_key</key>
	<string>ไม่เป็นไรขอบคุณ</string>
	<key>app_rate_dialog_rate_key</key>
	<string>ให้คะแนนทันที</string>
	<key>app_rate_dialog_remind_key</key>
	<string>เตือนฉันภายหลัง</string>
	<key>app_rate_dialog_title_key</key>
	<string>หากคุณสนุกกับการเล่น TANK 1990: แรงคุณจะคิดสละช่วงเวลาที่ให้คะแนน? ขอบคุณสำหรับการสนับสนุน!</string>
	<key>bonus_1000_key</key>
	<string>ทันทีทำให้คุณ 1,000 คะแนนโบนัส</string>
	<key>bonus_2000_key</key>
	<string>ทันทีทำให้คุณ 2,000 คะแนนโบนัส</string>
	<key>bonus_3000_key</key>
	<string>ทันทีทำให้คุณ 3000 คะแนนโบนัส</string>
	<key>bonus_500_key</key>
	<string>ทันทีทำให้คุณมี 500 คะแนนโบนัส</string>
	<key>bonus_amphibious_key</key>
	<string>ให้ถังความสามารถที่จะย้ายผ่านน้ำ</string>
	<key>bonus_four_shot_key</key>
	<string>ให้ความสามารถในถังของคุณเพื่อกระสุนไฟไหม้ใน 4 วิธี
นี้จะมีประสิทธิภาพในการ 20 วินาที</string>
	<key>bonus_grenade_key</key>
	<string>ทำลายศัตรูทุกขณะบนหน้าจอ
ไม่ได้รับเครดิตสำหรับการทำลายรถถังเช็ดออกด้วยพลังนี้ในช่วงระยะสุดท้ายคะแนนโบนัสนับ</string>
	<key>bonus_gun_key</key>
	<string>เพิ่มจำนวนกระสุนสามารถยิงบนหน้าจอได้ตลอดเวลา</string>
	<key>bonus_helmet_key</key>
	<string>ให้สนามพลังชั่วคราวที่โล่จากภาพศัตรูเช่นเดียวที่จุดเริ่มต้นของทุกขั้นตอน แต่ 10 วินาทีสุดท้าย</string>
	<key>bonus_shovel_key</key>
	<string>เปิดกำแพงอิฐรอบป้อมหินป้องกันไม่ให้ศัตรูจากการทำลายมัน
การซ่อมแซมความเสียหายที่ทำก่อนหน้านี้ นี้จะมีประสิทธิภาพใน 10 วินาที</string>
	<key>bonus_small_key</key>
	<string>หดตัวถังของคุณโดยครึ่งหนึ่ง แต่เป็นสองเท่าของความเร็วในการย้ายและกระสุนความเร็ว
นี้จะมีประสิทธิภาพในการ 20 วินาที</string>
	<key>bonus_star_key</key>
	<string>เพิ่มพลังความไม่พอใจของคุณโดยชั้นหนึ่ง (ชั้นคือ: เริ่มต้นที่สองสามและสี่) ระดับพลังงานเพียงตั้งค่าที่จะเริ่มต้นเมื่อคุณตาย</string>
	<key>bonus_tank_key</key>
	<string>จะช่วยให้ชีวิตพิเศษ</string>
	<key>bonus_time_key</key>
	<string>จับเวลาพลังงานขึ้นค้างชั่วคราวในเวลา 20 วินาทีหยุดการเคลื่อนไหวทั้งหมดรถถังศัตรู
เคล็ดลับ: ช่วยให้ความสามารถในการเป็นอันตรายเข้ามาใกล้ถังทุกคนและทำลายพวกเขา</string>
	<key>boss_factory_key</key>
	<string>โรงงานแห่งนี้เชี่ยวชาญในการผลิตยานพาหนะที่ระเบิดและต้องระมัดระวังกับรถยนต์ที่เกิดการระเบิดและทำลายโรงงานได้โดยเร็วที่สุด</string>
	<key>boss_helicopter_key</key>
	<string>เฮลิคอปเตอร์นี้จะบินและยิงไปในทิศทางของคุณหลีกเลี่ยงการไหลของกระสุน, การเคลื่อนย้ายและเคาน์เตอร์โจมตีอย่างถูกต้องที่จะทำลายมัน</string>
	<key>boss_marine_key</key>
	<string>เรือดำน้ำนี้จะยิงไปทางจรวดฐานไฟที่คุณ ดังนั้นทำลายมันให้เร็วที่สุดเท่าที่เป็นไปได้</string>
	<key>boss_tank_key</key>
	<string>ถังนี้จะแสวงหาและทำลายคุณและวิธีที่ดีที่สุดที่จะอยู่รอดคือการซ่อนอยู่หลังอาคารและยิงที่หัวของรถ</string>
	<key>boss_train_key</key>
	<string>รถไฟรถไฟขบวนนี้จะยิงในรอบบางซ่อนและโจมตีในเวลาที่เหมาะสมคือวิธีที่ดีที่สุดที่จะทำลายมัน</string>
	<key>button_5_star_key</key>
	<string>5 ดาว</string>
	<key>button_accept_key</key>
	<string>ยอมรับ</string>
	<key>button_add_friend_key</key>
	<string>เพิ่มเพื่อน</string>
	<key>button_auto_key</key>
	<string>AUTO</string>
	<key>button_back_key</key>
	<string>กลับ</string>
	<key>button_below_4_star_key</key>
	<string>1-4 ดาว</string>
	<key>button_bonus_key</key>
	<string>โบนัส</string>
	<key>button_buy_key</key>
	<string>ซื้อ</string>
	<key>button_cancel_key</key>
	<string>CANCEL</string>
	<key>button_claim_key</key>
	<string>การเรียกร้อง</string>
	<key>button_continue_key</key>
	<string>ดำเนินการต่อ</string>
	<key>button_done_key</key>
	<string>DONE</string>
	<key>button_double_reward_key</key>
	<string>DOLLAR X2</string>
	<key>button_download_key</key>
	<string>ดาวน์โหลด</string>
	<key>button_email_key</key>
	<string>EMAIL</string>
	<key>button_enemy_key</key>
	<string>ศัตรู</string>
	<key>button_env_key</key>
	<string>สิ่งแวดล้อม</string>
	<key>button_exit_key</key>
	<string>EXIT</string>
	<key>button_facebook_key</key>
	<string>FACEBOOK</string>
	<key>button_fight_key</key>
	<string>การต่อสู้</string>
	<key>button_get_now_key</key>
	<string>ขณะนี้ได้รับ</string>
	<key>button_go_key</key>
	<string>ไป</string>
	<key>button_invite_facebook_friend_key</key>
	<string>เชิญเพื่อน FACEBOOK</string>
	<key>button_invite_friend_key</key>
	<string>เชิญ</string>
	<key>button_login_key</key>
	<string>เข้าสู่ระบบ</string>
	<key>button_logout_key</key>
	<string>ออกจากระบบ</string>
	<key>button_menu_key</key>
	<string>เมนู</string>
	<key>button_next_key</key>
	<string>ต่อไป</string>
	<key>button_no_key</key>
	<string>ไม่</string>
	<key>button_ok_key</key>
	<string>OK</string>
	<key>button_play_key</key>
	<string>เล่น</string>
	<key>button_privacy_key</key>
	<string>นโยบายความเป็นส่วนตัว</string>
	<key>button_ready_key</key>
	<string>READY</string>
	<key>button_refresh_key</key>
	<string>REFRESH</string>
	<key>button_refuse_key</key>
	<string>ปฏิเสธ</string>
	<key>button_replay_key</key>
	<string>REPLAY</string>
	<key>button_restore_key</key>
	<string>เรียกคืน</string>
	<key>button_retry_key</key>
	<string>ลองใหม่อีกครั้ง</string>
	<key>button_revive_key</key>
	<string>ฟื้น</string>
	<key>button_select_key</key>
	<string>เลือก</string>
	<key>button_skip_key</key>
	<string>ข้าม</string>
	<key>button_start_key</key>
	<string>เริ่มต้น</string>
	<key>button_submit_key</key>
	<string>SUBMIT</string>
	<key>button_try_key</key>
	<string>ลอง</string>
	<key>button_website_key</key>
	<string>เว็บไซต์</string>
	<key>button_yes_key</key>
	<string>ใช่</string>
	<key>button_youtube_key</key>
	<string>YOUTUBE</string>
	<key>choose_item_title_key</key>
	<string>ซึ่งโบนัสที่คุณต้องการเพื่อเปิดใช้งาน?</string>
	<key>crate_dialog_box_already_collected_key</key>
	<string>กล่องนี้ได้เก็บรวบรวมไว้แล้ว</string>
	<key>crate_dialog_box_store_full_key</key>
	<string>ร้านค้าเต็ม!</string>
	<key>crate_sceme_title_unlock_key</key>
	<string>ปลดล็อค</string>
	<key>crate_scene_all_slot_full_key</key>
	<string>ช่องเต็มทั้งหมด! ฟรีค่า SLOT ไม่สูญเสียลังต่อไป!</string>
	<key>crate_scene_bronze_crate_key</key>
	<string>BRONZE ลัง</string>
	<key>crate_scene_button_begin_unlock_key</key>
	<string>BEGIN UNLOCK</string>
	<key>crate_scene_content_key</key>
	<string>30% GET</string>
	<key>crate_scene_content_random_booster</key>
	<string>% RANDOM BOOSTER</string>
	<key>crate_scene_content_tank</key>
	<string>โอกาสหายากที่จะได้รับ TANK 1%</string>
	<key>crate_scene_diamond_crate_key</key>
	<string>DIAMOND ลัง</string>
	<key>crate_scene_free_crate_key</key>
	<string>ลังฟรี</string>
	<key>crate_scene_gold_crate_key</key>
	<string>ลัง GOLD</string>
	<key>crate_scene_platinum_crate_key</key>
	<string>PLATINUM ลัง</string>
	<key>crate_scene_silver_crate_key</key>
	<string>ลัง SILVER</string>
	<key>crate_scene_unlock_1_at_a_time_key</key>
	<string>คุณสามารถปลดล็อคครั้งเดียวในเวลา</string>
	<key>crate_status_locked_key</key>
	<string>ล็อค</string>
	<key>crate_status_open_free_crate_key</key>
	<string>เปิด %</string>
	<key>crate_status_open_key</key>
	<string>เปิด</string>
	<key>dialog_invitation_content_key</key>
	<string>กรุณาดาวน์โหลดจะเล่นต่อไปกับประสบการณ์ที่ดีกว่า!</string>
	<key>dialog_policy_content_key</key>
	<string>โปรดอ่านและยอมรับนโยบายความเป็นส่วนตัวจะเล่นต่อไป</string>
	<key>dialog_try_level_content_key</key>
	<string>คุณต้องการที่จะทดลองในระดับนี้?</string>
	<key>dialog_try_next_level_content_key</key>
	<string>คุณต้องการที่จะลองระดับถัดไป?</string>
	<key>dialog_try_next_level_key</key>
	<string>คุณต้องการที่จะลองระดับถัดไป?</string>
	<key>dialog_warning_map_content_key</key>
	<string>เวที ถูกล็อค!</string>
	<key>enemy_armor_key</key>
	<string>เริ่มเป็นสีม่วง ค่อยๆเปลี่ยนเป็นสีเทาเมื่ออันตราย
อย่าทำลายพวกเขาหัวจนถึง powerup 2 ดาวจะถูกเก็บรวบรวม</string>
	<key>enemy_basic_key</key>
	<string>โดยทั่วไปเป็นภัยคุกคามเล็ก ๆ น้อย ๆ การเคลื่อนไหวช้ากว่าผู้เล่นไฟที่ความเร็วระดับพลังงานเริ่มต้นเดียวกัน (ศูนย์ดาว)</string>
	<key>enemy_fast_key</key>
	<string>โดยทั่วไปขึ้นเป็นอันตรายไปยังสำนักงานใหญ่กว่าผู้เล่นคนนั้น ควรได้รับการจัดส่งได้อย่างรวดเร็ว</string>
	<key>enemy_power_key</key>
	<string>อย่าไปสายของไฟ
ตัดผ่านกำแพงอิฐเร็วกว่ารถถังอื่น ๆ (โดดเด่นในเวที 34)</string>
	<key>env_brick_key</key>
	<string>รถถังและกระสุนไม่สามารถผ่านนี้ สามารถถูกทำลายจากการถูกยิงสี่ครั้ง (สองครั้งเมื่อบ้าอำนาจเป็นเงินกองทุนชั้นที่สี่ / สูงสุด) อยู่ข้างเดียว</string>
	<key>env_froze_key</key>
	<string>ถังสามารถย้ายไปอยู่กับมัน เมื่อคุณพยายามที่จะหยุดการเคลื่อนย้ายรถถังของคุณจะเลื่อนไปข้างหน้าเล็กน้อยก่อนที่จะหยุด
ข้อควรระวัง: obfuscates กระสุนบิน</string>
	<key>env_grass_key</key>
	<string>obfuscates รถถังและกระสุนภายใต้มันเมื่อเคลื่อนผ่าน
ข้อควรระวัง: หากินที่จะบอกที่ศัตรูและกระสุนของพวกเขา</string>
	<key>env_steel_key</key>
	<string>หยุดรถถังและกระสุนสมบูรณ์
เพียง แต่สามารถถูกทำลายถ้าตีสองครั้งในด้านเดียวกันด้วยกระสุนระดับพลังงานสูงสุด (ชั้นสี่)</string>
	<key>env_water_key</key>
	<string>ถังไม่สามารถเดินทางโดยทางที่ทุกคน กระสุนสามารถบินข้าม</string>
	<key>exit_dialog_no_key</key>
	<string>ไม่</string>
	<key>exit_dialog_title_key</key>
	<string>คุณต้องการที่จะออก?</string>
	<key>exit_dialog_yes_key</key>
	<string>ใช่</string>
	<key>feedback_dialog_content_key</key>
	<string>ทำในสิ่งที่คุณคิดว่าจะทำให้เกมนี้ 5 ดาว?</string>
	<key>feedback_dialog_title_key</key>
	<string>แจ้งให้เราทราบ!</string>
	<key>friend_leave_room_key</key>
	<string>เพื่อนของคุณได้ออกจากห้อง!</string>
	<key>game_enemy_score_key</key>
	<string>ศัตรู POINT</string>
	<key>game_my_score_key</key>
	<string>จุดของฉัน</string>
	<key>guest_not_ready_key</key>
	<string>คุณเพื่อนยังไม่พร้อม!</string>
	<key>help_scene_desc_key</key>
	<string>ที่ข้อมูล

คุณต้องการที่จะรู้หรือไม่?</string>
	<key>iap_amount_coin_key</key>
	<string>%
เหรียญ</string>
	<key>iap_dialog_free_key</key>
	<string>ฟรี</string>
	<key>iap_dialog_title_key</key>
	<string>ต้องการเหรียญบาง?</string>
	<key>iap_warning_text_key</key>
	<string>รายการตลาดล้มเหลวในการอ้างอิงใหม่!

กรุณาลองใหม่อีกครั้งในภายหลัง.</string>
	<key>info_dialog_exit_match_content_key</key>
	<string>คุณต้องการที่จะออกจากการแข่งขัน?</string>
	<key>info_dialog_invite_friend_key</key>
	<string>เชิญ
เพื่อน</string>
	<key>info_dialog_login_failed_key</key>
	<string>เข้าสู่ระบบล้มเหลว</string>
	<key>info_dialog_login_success_key</key>
	<string>เข้าสู่ระบบที่ประสบความสำเร็จ</string>
	<key>info_dialog_no_ads_key</key>
	<string>ขอโทษ! ไม่มีโฆษณาที่มีอยู่</string>
	<key>info_dialog_purchase_cancelled_key</key>
	<string>ยกเลิก</string>
	<key>info_dialog_purchase_failed_key</key>
	<string>ล้มเหลว กรุณาลองใหม่อีกครั้งในภายหลัง.</string>
	<key>info_dialog_purchase_succeded_key</key>
	<string>ที่ประสบความสำเร็จ</string>
	<key>info_dialog_select_pvp_mode_key</key>
	<string>เลือกเกมโหมด</string>
	<key>invite_dialog_content_key</key>
	<string>% ขอเชิญคุณที่จะเล่นเกม</string>
	<key>invite_waiting_dialog_content_key</key>
	<string>รอสำหรับผู้เล่นจะยอมรับคำเชิญ</string>
	<key>loading_key</key>
	<string>กำลังโหลด</string>
	<key>login_dialog_content_key</key>
	<string>คุณจำเป็นต้องลงชื่อ FEATURE ใน FACEBOOK ที่จะใช้นี้ ลงชื่อเข้าใช้?</string>
	<key>menu_campaign_key</key>
	<string>รณรงค์</string>
	<key>menu_quick_play_key</key>
	<string>เล่นเร็ว</string>
	<key>menu_scene_about_key</key>
	<string>เกี่ยวกับ</string>
	<key>menu_scene_crate</key>
	<string>ลัง</string>
	<key>menu_scene_daily_gift_key</key>
	<string>DAILY ของขวัญ</string>
	<key>menu_scene_help_key</key>
	<string>ช่วยด้วย</string>
	<key>menu_scene_highscore_key</key>
	<string>คะแนนสูง</string>
	<key>menu_scene_multiplayer_key</key>
	<string>MULTIPLAYER</string>
	<key>menu_scene_pvp_key</key>
	<string>PvP</string>
	<key>menu_scene_setting_key</key>
	<string>การตั้งค่า</string>
	<key>menu_scene_stage_key</key>
	<string>เวที</string>
	<key>menu_scene_stage_title_item</key>
	<string>ซื้อสินค้ากับฝ่ายสนับสนุน</string>
	<key>menu_scene_stage_title_tank</key>
	<string>เลือกรถถังของคุณ</string>
	<key>menu_scene_start_key</key>
	<string>เริ่มต้น</string>
	<key>menu_scene_tank_upgrade</key>
	<string>TANK UPGRADE</string>
	<key>no_bonus_left_key</key>
	<string>ไม่มีรายการ!</string>
	<key>not_enough_money_key</key>
	<string>คุณไม่ได้เหรียญพอที่จะซื้อโบนัสนี้!</string>
	<key>notification_text_1</key>
	<string>👩🏾‍✈️รถถังของคุณก็พร้อมที่สงครามที่พบบ่อย💥💥💥</string>
	<key>notification_text_2</key>
	<string>👩🏾‍✈️รถถังศัตรูได้เดินทางมาถึงพร้อมที่จะต่อสู้ในขณะนี้💥💥💥</string>
	<key>notification_text_3</key>
	<string>👩🏾‍✈️ฐานของคุณอยู่ภายใต้การโจมตี ขอให้เราต่อสู้เพื่อท้ายที่สุด💥💥💥</string>
	<key>null</key>
	<string>_</string>
	<key>paid_key</key>
	<string>ได้เอาเงิน</string>
	<key>pause_game_key</key>
	<string>หยุด</string>
	<key>player_state_idle_key</key>
	<string>ว่าง</string>
	<key>player_state_offline_key</key>
	<string>ออฟไลน์</string>
	<key>player_state_online_key</key>
	<string>ไม่ว่าง</string>
	<key>popup_not_enough_coin_key</key>
	<string>ไม่เพียงพอเหรียญ!</string>
	<key>popup_player_is_busy_key</key>
	<string>เพื่อนของคุณไม่ว่าง</string>
	<key>rank_up_dialog_content_reward</key>
	<string>จัดอันดับขึ้น REWARD</string>
	<key>rank_up_dialog_key</key>
	<string>จัดอันดับขึ้น</string>
	<key>rank_user_0</key>
	<string>เอกชน</string>
	<key>rank_user_1</key>
	<string>เอกชน
ชั้นหนึ่ง</string>
	<key>rank_user_10</key>
	<string>COLONEL</string>
	<key>rank_user_11</key>
	<string>BRIGADIER
ทั่วไป</string>
	<key>rank_user_12</key>
	<string>BRIGADIER</string>
	<key>rank_user_13</key>
	<string>พลโท
ทั่วไป</string>
	<key>rank_user_14</key>
	<string>ทั่วไป</string>
	<key>rank_user_15</key>
	<string>ทั่วไป
ของกองทัพ</string>
	<key>rank_user_2</key>
	<string>สิบโท</string>
	<key>rank_user_3</key>
	<string>จ่า</string>
	<key>rank_user_4</key>
	<string>MASTER
จ่า</string>
	<key>rank_user_5</key>
	<string>2ND
พลโท</string>
	<key>rank_user_6</key>
	<string>พลโท</string>
	<key>rank_user_7</key>
	<string>กัปตัน</string>
	<key>rank_user_8</key>
	<string>MAJOR</string>
	<key>rank_user_9</key>
	<string>พลโท
COLONEL</string>
	<key>rate_dialog_content_part1_key</key>
	<string>การจัดอันดับ 5 ดาวช่วยให้เราฟรีปรับปรุง!</string>
	<key>rate_dialog_content_part2_key</key>
	<string>วิธีที่คุณจะให้คะแนนเรา</string>
	<key>rate_dialog_title_key</key>
	<string>LIKE เกม</string>
	<key>reserved_for_ads_key</key>
	<string>พื้นที่โฆษณาที่สงวนไว้</string>
	<key>result_open_crate_dialog_already_owned_tank_key</key>
	<string>ซ้ำ TANK, ขายสำหรับเหรียญ%</string>
	<key>result_open_crate_dialog_booster_key</key>
	<string>BOOSTER</string>
	<key>result_open_crate_dialog_key_key</key>
	<string>สำคัญ</string>
	<key>result_open_crate_dialog_title_key</key>
	<string>คุณได้รับ</string>
	<key>result_pvp_dialog_draw_key</key>
	<string>วาด</string>
	<key>result_pvp_dialog_lose_key</key>
	<string>แพ้</string>
	<key>result_pvp_dialog_win_key</key>
	<string>ชนะ</string>
	<key>result_scene_boss</key>
	<string>BOSS</string>
	<key>result_scene_companion_key</key>
	<string>COMPANION</string>
	<key>result_scene_gain_live_key</key>
	<string>% ชีวิต</string>
	<key>result_scene_me_key</key>
	<string>คุณ</string>
	<key>result_scene_player_score_key</key>
	<string>รางวัล</string>
	<key>result_scene_record_key</key>
	<string>บันทึก</string>
	<key>result_scene_stage_complete_key</key>
	<string>เวที %</string>
	<key>result_scene_time_key</key>
	<string>เวลา</string>
	<key>resume_dialog_new_game_key</key>
	<string>เกมส์ใหม่</string>
	<key>resume_dialog_resume_key</key>
	<string>กลับคืนใหม่</string>
	<key>resume_dialog_title_key</key>
	<string>คุณต้องการที่จะดำเนินการต่อเกมสุดท้ายหรือเริ่มต้นใหม่?</string>
	<key>revive_continue_key</key>
	<string>ต่อหรือไม่?</string>
	<key>revive_not_enough_coin_key</key>
	<string>ไม่เพียงพอเหรียญ!
คุณต้องการที่จะได้รับเพิ่มเติม?</string>
	<key>revive_not_enough_dollar_key</key>
	<string>DOLLAR ไม่พอ!
คุณต้องการที่จะได้รับเพิ่มเติม?</string>
	<key>server_disconnected_key</key>
	<string>SERVER ตัดการเชื่อมต่อ</string>
	<key>server_response_error_key</key>
	<string>ข้อผิดพลาดเซิร์ฟเวอร์การตอบสนอง</string>
	<key>setting_control_dpad_key</key>
	<string>D-PAD</string>
	<key>setting_control_joystick_key</key>
	<string>JOYSTICK</string>
	<key>setting_control_key</key>
	<string>ผู้ควบคุม</string>
	<key>setting_difficulty_key</key>
	<string>ความยากลำบาก:</string>
	<key>setting_easy_key</key>
	<string>ง่าย</string>
	<key>setting_english_key</key>
	<string>ENGLISH</string>
	<key>setting_hard_key</key>
	<string>ยาก</string>
	<key>setting_language_key</key>
	<string>ภาษา:</string>
	<key>setting_medium_key</key>
	<string>กลาง</string>
	<key>setting_music_key</key>
	<string>เพลง:</string>
	<key>setting_off_key</key>
	<string>ปิด</string>
	<key>setting_on_key</key>
	<string>บน</string>
	<key>setting_portugal_key</key>
	<string>PORTUGUÊS</string>
	<key>setting_red_key</key>
	<string>แดง</string>
	<key>setting_russian_key</key>
	<string>PУССКИЙ</string>
	<key>setting_sound_key</key>
	<string>เสียง:</string>
	<key>setting_spanish_key</key>
	<string>ESPAÑOL</string>
	<key>setting_tank_key</key>
	<string>ถัง:</string>
	<key>setting_thai_key</key>
	<string>ไทย</string>
	<key>setting_turkish_key</key>
	<string>TÜRKÇE</string>
	<key>setting_vietnamese_key</key>
	<string>TIẾNG VIỆT</string>
	<key>setting_yellow_key</key>
	<string>สีเหลือง</string>
	<key>shop_buy_item_key</key>
	<string>คุณต้องการที่จะซื้อสินค้าชิ้นนี้</string>
	<key>shop_coin_key</key>
	<string>เหรียญ</string>
	<key>shop_coin_pack_0</key>
	<string>โฟรเซ่น
แพคเกจ</string>
	<key>shop_coin_pack_1</key>
	<string>ทำลาย
แพคเกจ</string>
	<key>shop_coin_pack_2</key>
	<string>อมตะ
แพคเกจ</string>
	<key>shop_coin_pack_3</key>
	<string>แชมป์
แพคเกจ</string>
	<key>shop_dollar_key</key>
	<string>ดอลลาร์</string>
	<key>shop_note_key</key>
	<string>หมายเหตุ: โบนัสซื้อครั้งสุดท้ายเท่านั้นสำหรับ 1 ระดับ</string>
	<key>shop_title_key</key>
	<string>โรงงาน</string>
	<key>stage_note_key</key>
	<string>กวาดไปทางซ้ายหรือขวาเพื่อเปลี่ยนระดับ</string>
	<key>stage_start_companion_dialog_prepare_key</key>
	<string>เตรียมความพร้อม</string>
	<key>tank_collection_dialog_title_key</key>
	<string>TANK COLLECTION</string>
	<key>tank_upgrade_bought_key</key>
	<string>ได้ซื้อ</string>
	<key>tank_upgrade_info_0</key>
	<string>POINT HIT</string>
	<key>tank_upgrade_info_1</key>
	<string>เพาเวอร์</string>
	<key>tank_upgrade_info_2</key>
	<string>อัตราการยิง</string>
	<key>tank_upgrade_info_3</key>
	<string>ความเร็ว</string>
	<key>tank_user_info_dialog_content_0</key>
	<string>ศัตรู KILLEDS:</string>
	<key>tank_user_info_dialog_content_1</key>
	<string>คอลเลกชัน STAR:</string>
	<key>tank_user_info_dialog_content_2</key>
	<string>STAGE สูงสุด:</string>
	<key>tank_user_info_dialog_rank_reward_key</key>
	<string>DAILY อันดับ REWARD</string>
	<key>warning_key</key>
	<string>คำเตือน!!!</string>
</dict>
</plist>
